ul {
  padding: 1rem;
  margin: 0;
  background-color: #a1d6b2;
  box-shadow: 0 0 5px #cedf9f;
  border: 1px solid #cedf9f;
  border-radius: 5px;
  list-style-type: none;
}

button {
  border-radius: 10px;
  background-color: #e8b86d;
}

#user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 0;
}
#user h5 {
  margin: 10px 0;
}

#tasksList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: black;
  background-color: #f1f3c2;
  border-radius: 5px;
}
.task--start {
  background-color: #b7e5b4;
}
.task--stop {
  background-color: #c7c8cc;
}

.taskLiElemContainer li {
  margin: 0;
  line-height: 20px;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

.displayMessage {
  display: flex;
  justify-content: center;
}

.timeContainer {
  margin: 0;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}
form {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.buttonLogReg {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.buttonLogReg:hover {
  background-color: #0056b3;
}

.switch-form {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.switch-form a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.switch-form a:hover {
  text-decoration: underline;
}

#notification-container {
  color: red;
  position: fixed;
  top: 10px;
  right: 10px;
}
